body {
  background:#FFA5AD ;
}

/* .growthproject{
  border-color:#DA627D ;
  border-width:thick; 
} */

.pgtxtstyle{
  font-family: 'Sofia';font-size: 35px;
}

.unit2 {
  display: block;
  margin: 20px auto;
  border: 2 px solid black;
  width: 80%;
  height: 80%;
}

.growthproject {
  width: 440px;
  height: 757px;
  border: 0px;
}



.futureproject{
   border-color:#f9dbbd;
  border-width:thick;
}
