body {
  background:#FFA5AD ;
}

.growthproject{
  background-color:#DA627D ;
  border-width:thick; 
}

.pgtxtstyle{
  font-family: 'Sofia';font-size: 35px;
}

.bestworkproject {
  display: block;
  margin: 20px auto;
  background-color: #b24167;
  border-width: thick;
  width: 80%;
  height: 80%;
}


.futureproject{
   background-color:#f9dbbd;
  border-width:thick;
}
